---
import Layout from "../../layouts/Layout.astro";
const allPosts = await Astro.glob("../fotos/*.md");
---

<Layout>
  <div>
    <header id="header-fotos">
      <div id="title-page">
        <h2>Carpetas de Fotos</h2>
        <span class="material-symbols-rounded"> photo_library</span>
      </div>

      <nav id="sub-menu">
        <ul>
          {
            allPosts.map((post) => (
              <li>
                <a href={post.url} title={post.frontmatter.title}>
                  {post.frontmatter.title}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </header>

    <article>
      <ul id="grid">
        <li>
          <a
            href="http://farm3.staticflickr.com/2692/5720221545_d6a8e30b83_o.jpg"
            download
            title="Descargar"
            ><img
              src="http://farm3.staticflickr.com/2692/5720221545_525e605f41_n.jpg"
              alt="fotosgratis28"
              loading="lazy"
            /><span class="material-symbols-rounded">download</span></a
          >
        </li>
        <li>
          <a
            href="http://farm4.staticflickr.com/3141/5720779878_28016abe38_o.jpg"
            download
            title="Descargar"
            ><img
              src="http://farm4.staticflickr.com/3141/5720779878_d806c37eaf_n.jpg"
              alt="fotosgratis29"
              loading="lazy"
            /><span class="material-symbols-rounded">download</span></a
          >
        </li>
        <li>
          <a
            href="http://farm3.staticflickr.com/2757/5720783222_bb785d58d5_o.jpg"
            download
            title="Descargar"
            ><img
              src="http://farm3.staticflickr.com/2757/5720783222_feeba0542d_n.jpg"
              alt="fotosgratis30"
              loading="lazy"
            /><span class="material-symbols-rounded">download</span></a
          >
        </li>
        <li>
          <a
            href="http://farm3.staticflickr.com/2757/5720783222_bb785d58d5_o.jpg"
            download
            title="Descargar"
            ><img
              src="http://farm3.staticflickr.com/2757/5720783222_feeba0542d_n.jpg"
              alt="fotosgratis30"
              loading="lazy"
            /><span class="material-symbols-rounded">download</span></a
          >
        </li>
        <li>
          <a
            href="http://farm3.staticflickr.com/2150/5720226869_24f6bd5046_o.jpg"
            download
            title="Descargar"
            ><img
              src="http://farm3.staticflickr.com/2150/5720226869_c38af444a0_n.jpg"
              alt="fotosgratis31"
              loading="lazy"
            /><span class="material-symbols-rounded">download</span></a
          >
        </li>
        <li>
          <a
            href="http://farm3.staticflickr.com/2040/5720228765_e4da52b68b_o.jpg"
            download
            title="Descargar"
            ><img
              src="http://farm3.staticflickr.com/2674/5720228017_e3dacb3c13_n.jpg"
              alt="fotosgratis32"
              loading="lazy"
            /><span class="material-symbols-rounded">download</span></a
          >
        </li>
        <li>
          <a
            href="http://farm4.staticflickr.com/3473/5720826432_2c51d2e434_o.jpg"
            download
            title="Descargar"
            ><img
              src="http://farm4.staticflickr.com/3473/5720826432_1c700b6264_n.jpg"
              alt="fotosgratis33"
              loading="lazy"
            /><span class="material-symbols-rounded">download</span></a
          >
        </li>
        <li>
          <a
            href="http://farm3.staticflickr.com/2559/5720288929_8059cc75e9_o.jpg"
            download
            title="Descargar"
            ><img
              src="http://farm3.staticflickr.com/2559/5720288929_2bdb7f9bea_n.jpg"
              alt="fotosgratis34"
              loading="lazy"
            /><span class="material-symbols-rounded">download</span></a
          >
        </li>
        <li>
          <a
            href="http://farm4.staticflickr.com/3100/5720855148_27093a8527_o.jpg"
            download
            title="Descargar"
            ><img
              src="http://farm4.staticflickr.com/3100/5720855148_4825af9272_n.jpg"
              alt="fotosgratis35"
              loading="lazy"
            /><span class="material-symbols-rounded">download</span></a
          >
        </li>
        <li>
          <a
            href="http://farm3.staticflickr.com/2653/5720311049_65847becdd_o.jpg"
            download
            title="Descargar"
            ><img
              src="http://farm3.staticflickr.com/2653/5720311049_47a3456ed8_n.jpg"
              alt="fotosgratis36"
              loading="lazy"
            /><span class="material-symbols-rounded">download</span></a
          >
        </li>
        <li>
          <a
            href="http://farm3.staticflickr.com/2251/5720906864_e781389437_o.jpg"
            download
            title="Descargar"
            ><img
              src="http://farm3.staticflickr.com/2251/5720906864_c36c37aaf2_n.jpg"
              alt="fotosgratis37"
              loading="lazy"
            /><span class="material-symbols-rounded">download</span></a
          >
        </li>
        <li>
          <a
            href="http://farm4.staticflickr.com/3348/5720914920_2357cd8b20_o.jpg"
            download
            title="Descargar"
            ><img
              src="http://farm4.staticflickr.com/3348/5720914920_2ca936c9e9_n.jpg"
              alt="fotosgratis38"
              loading="lazy"
            /><span class="material-symbols-rounded">download</span></a
          >
        </li>
        <li>
          <a
            href="http://farm3.staticflickr.com/2175/5720919446_92816f8a45_o.jpg"
            download
            title="Descargar"
            ><img
              src="http://farm3.staticflickr.com/2175/5720919446_e89f7e49fd_n.jpg"
              alt="fotosgratis39"
              loading="lazy"
            /><span class="material-symbols-rounded">download</span></a
          >
        </li>
        <li>
          <a
            href="http://farm3.staticflickr.com/2558/5720955948_b6feb8731f_o.jpg"
            download
            title="Descargar"
            ><img
              src="http://farm3.staticflickr.com/2558/5720955948_ca85d93d26_n.jpg"
              alt="fotosgratis40"
              loading="lazy"
            /><span class="material-symbols-rounded">download</span></a
          >
        </li>
        <li>
          <a
            href="http://farm4.staticflickr.com/3137/5720404763_9d5ce45daa_o.jpg"
            download
            title="Descargar"
            ><img
              src="http://farm4.staticflickr.com/3137/5720404763_df0f4a3a65_n.jpg"
              alt="fotosgratis41"
              loading="lazy"
            /><span class="material-symbols-rounded">download</span></a
          >
        </li>
        <li>
          <a
            href="http://farm4.staticflickr.com/3272/5720966800_2fa52bf486_o.jpg"
            download
            title="Descargar"
            ><img
              src="http://farm4.staticflickr.com/3272/5720966800_83fe8691f6_n.jpg"
              alt="fotosgratis42"
              loading="lazy"
            /><span class="material-symbols-rounded">download</span></a
          >
        </li>
        <li>
          <a
            href="http://farm7.staticflickr.com/6167/6188036178_8172cd3cc7_o.jpg"
            download
            title="Descargar"
            ><img
              src="http://farm7.staticflickr.com/6167/6188036178_c0d551397a_n.jpg"
              alt="fotosgratis43"
              loading="lazy"
            /><span class="material-symbols-rounded">download</span></a
          >
        </li>
        <li>
          <a
            href="http://farm7.staticflickr.com/6169/6188039072_fca5e38bdf_o.jpg"
            download
            title="Descargar"
            ><img
              src="http://farm7.staticflickr.com/6169/6188039072_30eecbecb4_n.jpg"
              alt="fotosgratis44"
              loading="lazy"
            /><span class="material-symbols-rounded">download</span></a
          >
        </li>
        <li>
          <a
            href="http://farm7.staticflickr.com/6154/6188042316_2a38e2d74e_o.jpg"
            download
            title="Descargar"
            ><img
              src="http://farm7.staticflickr.com/6154/6188042316_d3f04e9e61_n.jpg"
              alt="fotosgratis45"
              loading="lazy"
            /><span class="material-symbols-rounded">download</span></a
          >
        </li>
      </ul>
    </article>
  </div>
</Layout>
