@charset "UTF-8"

@import './var.styl'

#content
  width 100%
  height auto
  padding space2 0 space2 0
  section
    width 90%
    margin 0 auto

/* Header de fotos */
#header-fotos
  margin-bottom space2
  h2
    font-size clamp(32px, 2vw, 2.2vw)
    margin-bottom space2

.info
  margin space2 0 space2 0
  position relative
  img
    position absolute
    z-index -1
    height 100%
    width 100%
    object-position center center

#sub-menu
  background linear-gradient(to top, noWhite, transparent)
  div
    display flex
  h3
    background solid8
    color noWhite
    text-transform uppercase
    padding space1
  p,ul
    padding space1
    color noWhite
    background linear-gradient(to right, solid8, transparent)
  
#tags
  display flex
  align-items center
  flex-wrap wrap
  gap space1
  li
    display flex
    align-items center
    color solid4
    outline solid border1 solid4
    border-radius border1
    padding space1

/* Búsqueda */
#search
  width 100%
  padding space1 0 space1 0
  input[type=text]
    padding space1 !important
    background none !important
  .gsc-search-button-v2
    padding space1
    background-color solid6
    svg
      width 48px

/* Grid de fotos */
#grid
  margin-top space1
  display grid
  grid-template-columns repeat(auto-fit, minmax(clamp(200px, 10vw, 10vw), 1fr))
  justify-content space-between
  gap space1
  li
    background #FFFFFF
    padding space1
    border-radius border1
    text-align right
    &:hover img
      filter saturate(1)
  img
    border-radius border1
    filter saturate(0)
    aspect-ratio 5 / 4
    transition all 0.4s ease