/* Variables */
:root {
  font-size: 16px;
}
/* Seleccion */
::-moz-selection {
  background: rgba(0,0,0,0.2);
  text-shadow: none;
}
::selection {
  background: rgba(0,0,0,0.2);
  text-shadow: none;
}
body {
  color: rgba(0,0,0,0.8);
  width: 100%;
  font-size: clamp(1em, 1vw, 1.2vw);
  line-height: 120%;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  background: #f2f2f2;
}
/* Conponent Header */
#wrapper-header {
  background: rgba(0,0,0,0.8);
  color: #f2f2f2;
  padding: clamp(2rem, 2vh, 2.2vh) 0 clamp(2rem, 2vh, 2.2vh) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: aparecer 1s ease-in;
          animation: aparecer 1s ease-in;
}
#wrapper-header header {
  width: 90%;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: clamp(1.8rem, 1vw, 1.2vw);
}
/* hgroup H1 y H2 */
#hgroup {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(1rem, 1vw, 1vw);
  -ms-hyphens: none;
      hyphens: none;
}
#hgroup h1 {
  font-size: clamp(1.4em, 1.2vw, 1.4vw);
  line-height: 100%;
  text-transform: uppercase;
  font-family: 'Viga', sans-serif;
}
#hgroup h2 {
  line-height: 100%;
}
/* Main logo */
#main-logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#main-logo img {
  width: 3vw;
  min-width: 48px;
  height: auto;
}
/* Main menu */
#main-menu {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
#main-menu menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: clamp(1rem, 1vw, 1vw);
}
#main-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#main-menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(0.6rem, 0.8vw, 0.8vw);
  font-weight: 700;
  padding: clamp(0.6rem, 0.4vw, 0.6vw);
  outline: solid clamp(3px, 0.1vw, 0.2vw) #f2f2f2;
  border-radius: clamp(3px, 0.2vw, 0.2vw);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#main-menu a:hover {
  color: rgba(0,0,0,0.8);
  background: #f2f2f2;
}
#main-menu span {
  font-size: clamp(20px, 1vw, 1vw);
}
#input-menu,
.open-menu,
.closed-menu {
  display: none;
}
/* Animation menu*/
/* Conteneddor de contenido principal Layout */
#main-content {
  width: 100%;
  height: auto;
  padding: clamp(3rem, 6vw, 6.2vw) 0 clamp(3rem, 6vw, 6.2vw) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* Seccion principal de Layout */
#main-section {
  width: 90%;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(2rem, 2vw, 2.2vw);
}
#main-article {
  width: 100%;
}
#main-article header {
  padding: clamp(1rem, 1vw, 1.2vw) 0 clamp(0.6rem, 0.6vw, 0.8vw) 0;
  border-bottom: solid clamp(3px, 0.1vw, 0.2vw) rgba(0,0,0,0.2);
  margin-bottom: clamp(1rem, 1vw, 1.2vw);
}
#main-article h2 {
  font-size: clamp(1.6em, 1.6vw, 1.8vw);
  padding-left: clamp(1rem, 1vw, 1.2vw);
  font-weight: 700;
  color: rgba(0,0,0,0.4);
  letter-spacing: 1pt;
}
#main-article p {
  padding-bottom: clamp(1rem, 1vw, 1.2vw);
  -ms-hyphens: none;
      hyphens: none;
}
#main-article strong {
  font-weight: 700;
}
/* Banner descarga */
.banner {
  position: relative;
  z-index: 0;
  width: 100%;
  height: auto;
  text-align: center;
  padding: clamp(2rem, 2vw, 2.2vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner:before {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  content: "";
  background-color: rgba(0,0,0,0.4);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(0,0,0,0.2) 35px, rgba(0,0,0,0.2) 70px);
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  width: 100%;
  height: 100%;
  border-radius: clamp(6px, 0.4vw, 0.6vw);
}
.banner p {
  font-size: clamp(1.4em, 1.4vw, 1.6vw);
  line-height: 140%;
  color: #f2f2f2;
  font-family: 'Viga', sans-serif;
}
.banner strong {
  font-size: clamp(1.6em, 1.6vw, 1.8vw);
}
.banner img {
  display: inline;
  width: clamp(48px, 2vw, 2.2vw);
}
/* Banner Animation */
.floating {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
/* Component AsideFooter */
#main-aside {
  width: 100%;
  padding: clamp(3rem, 4vw, 4.2vw) 0 clamp(3rem, 4vw, 4.2vw) 0;
  background: rgba(0,0,0,0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(2rem, 2.8vw, 3vw);
}
#logofooter {
  height: auto;
  max-width: 6%;
  min-width: 48px;
}
#uso {
  width: 90%;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: clamp(1rem, 1vw, 1.2vw) clamp(2rem, 2vw, 2.2vw);
}
#uso h3,
#uso h4 {
  border-bottom: solid clamp(2px, 0.1vw, 0.2vw) rgba(0,0,0,0.4);
  width: 100%;
  font-family: 'Viga', sans-serif;
  font-size: clamp(1.4em, 1.4vw, 1.6vw);
  text-align: center;
  padding-bottom: clamp(1rem, 0.6vw, 0.8vw);
  margin-bottom: clamp(1rem, 1vw, 1.2vw);
  color: rgba(0,0,0,0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: clamp(1em, 1vw, 1vw);
}
#uso div,
#uso nav {
  width: 30%;
}
#uso p {
  padding-bottom: clamp(1rem, 1vw, 1.2vw);
  -ms-hyphens: none;
      hyphens: none;
}
#uso a {
  color: #f2f2f2;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#uso a:hover {
  color: rgba(0,0,0,0.8);
}
#uso ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(1rem, 1vw, 1.2vw);
}
#uso ul a {
  outline: solid clamp(3px, 0.1vw, 0.2vw) #f2f2f2;
  padding: clamp(1rem, 0.4vw, 0.6vw);
  border-radius: clamp(3px, 0.2vw, 0.2vw);
}
#uso ul a:hover {
  background: #f2f2f2;
  color: rgba(0,0,0,0.8);
}
#uso span {
  font-size: clamp(1em, 1vw, 1.2vw);
}
footer {
  padding: clamp(2rem, 2vw, 2.2vw);
}
footer p {
  text-align: center;
}
/*Responsive Design*/
@media screen and (max-width: 1024px) {
  #main-menu menu {
    display: none;
  }
  #main-menu .open-menu,
  #main-menu .closed-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main-menu .open-menu span,
  #main-menu .closed-menu span {
    font-size: 48px;
  }
  #main-menu .open-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #input-menu:checked ~ nav .open-menu {
    display: none;
  }
  #input-menu:checked ~ nav .closed-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #input-menu:checked ~ nav menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 50vh;
    left: 0;
    background: rgba(0,0,0,0.8);
    padding: 2rem;
  }
  #main-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #uso {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #uso div,
  #uso nav {
    width: 100%;
  }
}
@media screen and (max-width: 620px) {
  #wrapper-header header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #hgroup {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
