@charset "UTF-8"

@import './var.styl'

/* Contenedor de contenido principal Layout */
#main-content
  width 100%
  height auto
  padding space3 0 space3 0
  display flex
  justify-content center

/* Sección principal de Layout */
#main-section
  width 90%
  display flex
  justify-content space-between
  align-items center
  gap space2

#main-article
  width 100%
  header
    padding space1 0 space1 0
    border-bottom solid border1 solid2
    margin-bottom space1
  h2
    font-size clamp(24px, 1.6vw, 1.8vw)
    color solid4
    letter-spacing 1pt
  p
    padding-bottom space1
    hyphens none
  strong
    font-weight 700

/* Banner descarga */ 
.banner
  position relative
  z-index 0
  width 100%
  height auto
  text-align center
  padding space2
  display flex
  justify-content center
  align-items center
  &:before
    position absolute
    left 0
    top 0
    z-index -1
    content ""
    background-color solid4
    background-image repeating-linear-gradient(45deg,transparent,transparent 35px,solid2 35px,solid2 70px)
    transform skewY(-2deg)
    width 100%
    height 100%
    border-radius border2
  p
    color noWhite
    font-size clamp(22px, 1.6vw, 1.8vw)
    line-height 1.2
  strong
    text-transform uppercase
    font-weight 700

/* Banner Animation */
.floating
  animation-name floating
  animation-duration 1.5s
  animation-iteration-count infinite

@keyframes floating
  0%
    transform translateY(0%)
  50%
    transform translateY(3%)
  100%
    transform translateY(0%)

/*Responsive Design*/
@media screen and (max-width:1024px)
  #main-section
    flex-direction column