/* Variables */
solid2 = rgba(0,0,0,0.2)
solid4 = rgba(0,0,0,0.4)
solid6 = rgba(0,0,0,0.6)
solid8 = rgba(0,0,0,0.8)
noWhite = #F2F2F2
space1 = clamp(16px, 1vw, 1.1vw)
space2 = clamp(32px, 2vw, 2.2vw)
space3 = clamp(48px, 3vw, 3.2vw)
space4 = clamp(64px, 4vw, 4.2vw)
border1 = clamp(3px, 0.2vw, 0.3vw)
border2 = clamp(6px, 0.3vw, 0.4vw)