---
/* Importando Layout */
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <article id="main-article">
    <header>
      <h2>404 <span class="material-symbols-rounded">error</span></h2>
    </header>
    <p>
      Lo sentimos, la página que quieres ver no está disponible o no existe.
    </p>
  </article>
</Layout>