---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div id="main">
    <header class="header">
      <div class="wrap-logo">
        <figure class="logo">
          <img src="/img/fotosgratis.svg" alt="Logotipo Fotos Gratis" />
        </figure>

        <hgroup>
          <h1>
            <a href="/" title="Fotos Gratis">Fotos Gratis</a>
          </h1>
          <h2>Descarga simple y rápida</h2>
        </hgroup>
      </div>

      <nav id="main-menu">
        <ol id="first-menu">
          <li class="anin-normal"><a href="/fotos" title="Fotos">Fotos</a></li>
          <li class="anin-normal">
            <a href="/recientes" title="Recientes">Recientes</a>
          </li>
        </ol>
      </nav>
    </header>

    <section id="content">
      <article id="main-content">
        <p>
          <strong>Fotos gratis</strong> es un <strong>banco de fotos</strong> para
          uso público como corporativo. Ya sea para uso de referencial o material
          creativo, estas imágenes son <strong>gratuitas</strong> para todos.
        </p>
        <p>
          Debe dar crédito a la pagina web "Fotos Gratis".<br />
          También <strong>editamos</strong> fotos para su publicación, <strong
            >corregir errores</strong
          >, <strong>&#62; dimensionar</strong> o buscar la imagen que necesita.
          Si los cambios son pequeños lo hacemos <strong>gratuitamente</strong>.
        </p>
      </article>

      <div class="banner">
        <div class="floating">
          <a href="fotos" title="Fotos">
            <p>
              Descarga una foto hoy,<br />
              comprueba lo fácil que es.<br />
              <strong>Sin registros</strong><br />
              y con seguridad.
            </p><br />
            <img src="/img/down.svg" alt="down" /></a
          >
        </div>
      </div>
    </section>

    <aside id="footer">
      <section id="uso">
        <img
          src="/img/fotosgratis.svg"
          alt="Fotos Gratis"
          loading="lazy"
          id="logofooter"
        />
        <h3>¿Qué puedo hacer con las fotos?</h3>

        <div id="uso-leer">
          <nav>
            <h4>No</h4>
            <ul>
              <li>
                Usted no puede <strong
                  >vender, licenciar, sub-licenciar, alquilar, transferir o
                  distribuir</strong
                > esta imagen tal y como es y sin alteración.
              </li>
              <li>Usted no puede reclamar la propiedad de esta imagen.</li>
            </ul>
          </nav>
          <nav>
            <h4>Si</h4>
            <ul>
              <li>Modificar para <strong>adaptar</strong> el trabajo.</li>
              <li>
                Para utilizar esta obra para <strong>fines comerciales</strong>.
                Comunicarse con <a
                  href="mailto:info@edgarcornejo.com"
                  title="info@edgarcornejo.com">info@edgarcornejo.com</a
                > para usos especiales.
              </li>
            </ul>
          </nav>
          <nav>
            <h4>Redes</h4>
            <ul>
              <li>
                <a
                  href="https://www.facebook.com/fotosgratispage"
                  title="Facebook">Facebook</a
                >
              </li>
              <li>
                <a
                  href="https://www.flickr.com/photos/mattotaku/"
                  title="Flickr">Flickr</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </section>
    </aside>

    <footer>
      <p>
        Copyright © <a
          href="https://www.edgarcornejo.com/"
          title="Edgar Cornejo">Edgar Cornejo</a
        > All Rights Reserved.
      </p>
    </footer>
  </div>
</Layout>
