---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <article id="main-article">
    <header>
      <h2>Qué ofrecemos</h2>
    </header>
    <p>
      <strong>Fotos gratis</strong> es un <strong>banco de fotos</strong> para uso
      público como corporativo. Ya sea para uso de referencial o material creativo,
      estas imágenes son <strong>gratuitas</strong> para todos.
    </p>
    <p>
      Debe dar crédito a la pagina web "Fotos Gratis".<br />
      También <strong>editamos</strong> fotos para su publicación, <strong
        >corregir errores</strong
      >, <strong>&#62; dimensionar</strong> o buscar la imagen que necesita. Si los
      cambios son pequeños lo hacemos <strong>gratuitamente</strong>.
    </p>
  </article>

  <div class="banner">
    <div class="floating">
      <a href="/fotos/" title="Fotos">
        <p>
          Descarga una foto hoy,<br />
          comprueba lo fácil que es.<br />
          <strong>Sin registros</strong><br />
          y con seguridad.
        </p></a
      >
    </div>
  </div>
</Layout>
