---
/* importando estilos */
import "../styles/asidefooter.css";

/* importando assets */
import { Image } from "astro:assets";
import logo from "../assets/logofg.svg";
---

<aside id="main-aside">
  <Image src={logo} alt="Logotipo Fotos Gratis" id="logofooter" />

  <section id="uso">
    <h3>¿Qué puedo hacer con las fotos?</h3>

    <div>
      <h4>No</h4>
      <p>
        Usted no puede <strong
          >vender, licenciar, sub-licenciar, alquilar, transferir o distribuir</strong
        > esta imagen tal y como es y sin alteración.
      </p>
      <p>Usted no puede reclamar la propiedad de esta imagen.</p>
    </div>

    <div>
      <h4>Si</h4>
      <p>Modificar para <strong>adaptar</strong> el trabajo.</p>
      <p>
        Para utilizar esta obra para <strong>fines comerciales</strong>.
        Comunicarse con <a
          href="mailto:info@edgarcornejo.com"
          title="info@edgarcornejo.com">info@edgarcornejo.com</a
        > para usos especiales.
      </p>
    </div>

    <nav>
      <h4>Redes</h4>
      <ul>
        <li>
          <a href="https://www.facebook.com/fotosgratispage" title="Facebook" target="_blank"
            >Facebook</a
          >
        </li>
        <li>
          <a href="https://www.flickr.com/photos/mattotaku/" title="Flickr" target="_blank"
            >Flickr</a
          >
        </li>
      </ul>
    </nav>
  </section>
</aside>

<footer>
  <p>
    Copyright © <a href="https://www.edgarcornejo.com/" title="Edgar Cornejo"
      >Edgar Cornejo</a
    > All Rights Reserved.
  </p>
</footer>
