---

---

<div class="wrapper-cookies">
  <header><h5>Este sitio web utiliza cookies</h5></header>
  
  <div class="data">
    <p>Este sitio web utiliza cookies para su funcionamiento y análisis.</p>
    <p>Si continúa navegando en este sitio web, acepta nuestra <a href="/" title="política de cookies">política de cookies</a>.</p>
  </div>

  <div class="buttons">
    <button class="btn" id="btn-accept">Aceptar</button>
    <button class="btn" id="btn-reject">Rechazar</button>
  </div>
</div>

<script src="../js/cookies.js"> </script>

<style>
  .wrapper-cookies {
    position: fixed;
    bottom: 52px;
    right: -100vw;
    max-width: 20vw;
    width: 100%;
    background: #F2F2F2;
    border-radius: clamp(6px, 1vw, 1.1vw);
    padding: clamp(16px, 1vw, 1.1vw);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    transition: right 0.6s ease;
  }

  .wrapper-cookies.show {
    right: 20px;
  }

  header {
    display: flex;
    align-items: center;
    margin-bottom: clamp(16px, 1vw, 1.1vw);
    h5 {
      font-weight: 700;
    }
  }

  p {
    font-weight: 300;
    margin-bottom: clamp(16px, 1vw, 1.1vw);
    a {
      border-bottom: solid clamp(1px, 0.2vw, 0.3vw) #000000;
      &:hover {
        border: 0;
      }
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn {
      width: calc(100% / 2 - 10px);
      padding: 8px;
      border-radius: clamp(6px, 1vw, 1.1vw);
      background: gray;
      color: #FFFFFF;
      cursor: pointer;
      &:hover {
        background: #000000;
      }
    }
  }

  @media (max-width:1024px) {
    .wrapper-cookies{
      max-width: 345px;
    }
  }

</style>