---
/* importando estilos */
import "../styles/header.css";

/* importando assets */
import { Image } from "astro:assets";

import logo from "../assets/logofg.svg";

const { title } = Astro.props;
---

<div id="wrapper-header">
  <header>
    <div id="hgroup">
      <h1>{title}</h1>
      <h2>Descarga simple y rápida</h2>
    </div>

    <a id="main-logo" href="/" title="Fotos Gratis"
      ><Image src={logo} alt="Logotipo Fotos Gratis" />
    </a>

    <nav id="main-menu">
      <menu>
        <li>
          <a href="/fotos/" title="Fotos"
            >Fotos</a
          >
        </li>
      </menu>
    </nav>
  </header>
</div>
