---
const { title } = Astro.props;
---

<div id="wrapper-header">
  <header>
    <div id="hgroup">
      <h1>{title}</h1>
      <h2>Descarga simple y rápida</h2>
    </div>

    <a id="main-logo" href="/" title="Fotos Gratis"
      ><img src="/fotosgratis.svg" alt="Logotipo Fotos Gratis" /></a
    >

    <input type="checkbox" id="input-menu" />
    <nav id="main-menu">
      <label for="input-menu" class="open-menu"
        ><span class="material-symbols-rounded">menu</span></label
      >
      <label for="input-menu" class="closed-menu"
        ><span class="material-symbols-rounded">close</span></label
      >
      <menu>
        <li><a href="/fotos" title="Fotos">Fotos</a></li>
        <li>
          <a href="/recientes" title="Recientes">Recientes</a>
        </li>
      </menu>
    </nav>
  </header>
</div>
