---
const { title, description, keywords } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <meta name="generator" content={Astro.generator} />

  <title>{title}</title>
  <meta name="description" content={description} />
  <meta name="keywords" content={keywords} />

  <meta name="copyright" content="© 2020 FG" />
  <meta name="robots" content="Index,Follow" />
  <meta name="distribution" content="global" />
  <meta property="fb:page_id" content="202197103306985" />
  <meta name="author" content="Edgar Cornejo" />
  <meta name="designer" content="Edgar Cornejo" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.fotos.edgarcornejo.com" />
  <meta
    property="og:image"
    content="https://www.fotos.edgarcornejo.com/img/fotosgratis.png"
  />
  <meta property="og:site_name" content="Fotos Gratis" />
  <meta
    name="google-site-verification"
    content="tepZV8pXm5w4Dq1SGa9KJml6qC2Ojq0dLlvHRBAAllQ"
  />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Viga&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet"
  />
</head>
