---
import "../styles/reset.css";
import "../styles/main.css";
import Head from "../layouts/Head.astro";
import Header from "../components/Header.astro";
import AsideFooter from "../components/AsideFooter.astro";

const {
  title = "Fotos Gratis - Descarga simple y r치pida Free Photos, free pic, fotos gratuitas, fotos sin derechos de autor, banco de fotos, im치genes gratis.",
  description = "Fotos Gratis es un banco de fotos sin derecho de autor, gratuitas para todos para proyectos web o dise침os de cualquier tipo.",
  keywords = "free pic, fotos gratuitas, fotos sin derechos de autor, banco de fotos, im치genes gratis",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head {title} {description} {keywords} />
  <body>
    <Header />
    <slot />
    <AsideFooter />
  </body>
</html>
